/* MISC */
/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

/* MEDIA QUERIES HEADER */
@media screen and (max-width: 900px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 727px) {
  .menu__lista {
    gap: 20px; } }

@media screen and (max-width: 640px) {
  .menu__lista {
    font-size: 20px;
    gap: 15px; } }

@media screen and (max-width: 520px) {
  .menu__lista {
    font-size: 20px;
    gap: 15px; } }

@media screen and (max-width: 475px) {
  .menu__lista {
    font-size: 18px;
    gap: 10px; } }

@media screen and (max-width: 380px) {
  .menu__lista {
    font-size: 15px;
    gap: 5px; } }

/* MEDIA QUERIES FOOTER */
@media screen and (max-width: 670px) {
  footer p {
    font-size: 15px; } }

@media screen and (max-width: 490px) {
  footer p {
    font-size: 12px; } }

@media screen and (max-width: 400px) {
  footer {
    flex-direction: column; } }

/* MEDIA QUERIES MODALIDAD */
.terapiaonline__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin: auto;
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px; }

.terapiaonline__p {
  grid-row: 1; }

.terapiaonline__h1 {
  grid-row: 2;
  text-align: center; }

.terapiaonline__p2 {
  grid-row: 3; }

.li__ventajas {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px; }

.grid__terapiapresencial {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin: auto;
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px; }

.grid__modalidad {
  grid-row: 1;
  text-align: center; }

.grid__p1 {
  grid-row: 2; }

.grid__p2 {
  grid-row: 3; }

@media screen and (max-width: 892px) {
  .terapiaonline__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin-top: 30px; }
  .terapiaonline__p {
    grid-row: 1; }
  .terapiaonline__h1 {
    grid-row: 2;
    text-align: center; }
  .terapiaonline__p2 {
    grid-row: 3 / 6; }
  .grid__terapiapresencial {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 15px; }
  .grid__p2 {
    grid-row: 3 / 5; } }

@media screen and (max-width: 535px) {
  .grid__terapiaonline {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    font-size: 13px; }
  .terapiaonline__p {
    grid-row: 1 / 3; }
  .terapiaonline__h1 {
    grid-row: 3;
    text-align: center; }
  .terapiaonline__p2 {
    grid-row: 4 / 8; }
  .li__ventajas {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px; } }

/* PARTIALS */
/* header */
header {
  display: flex;
  background: linear-gradient(to right, #13a2a2 30%, #69e1e1 90%);
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px; }
  header__img {
    max-width: 280px; }
  header .menu__lista {
    display: flex;
    font-style: oblique;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Times New Roman';
    gap: 40px;
    padding-left: 0px; }
    header .menu__lista a {
      color: white; }
      header .menu__lista a:hover {
        background-color: #f6a6b3;
        transition: background-color 1s; }

/* footer */
footer {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to left, #13a2a2 30%, #69e1e1 90%);
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: normal; }
  footer p {
    font-size: 20px;
    margin: 0; }
  footer__picture {
    display: flex;
    justify-content: space-evenly; }
  footer__iconos {
    width: 20px; }

/* VIEWS */
/* Modalidad */
.terapiaonline__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin: auto;
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px; }
  .terapiaonline__grid__p {
    grid-row: 1; }
  .terapiaonline__grid__h1 {
    grid-row: 2;
    text-align: center; }
  .terapiaonline__grid__p2 {
    grid-row: 3; }

.li__ventajas {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px; }

.section__terapiapresencial {
  margin-bottom: 60px; }
  .section__terapiapresencial .grid__terapiapresencial {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin: auto;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px; }
    .section__terapiapresencial .grid__terapiapresencial__modalidad {
      grid-row: 1;
      text-align: center; }
    .section__terapiapresencial .grid__terapiapresencial__p1 {
      grid-row: 2; }
    .section__terapiapresencial .grid__terapiapresencial__p2 {
      grid-row: 3; }
