@charset "UTF-8";
/* MISC */
/* Font Sizes*/
/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

/* PARTIALS */
/* header */
header {
  display: flex;
  display: flex;
  background: linear-gradient(to right, #13a2a2 30%, #69e1e1 90%);
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: sans-serif;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px; }
  header__img {
    max-width: 280px; }
  header .navbar-nav {
    --bs-nav-link-color: white;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: 25px; }
  header .navbar-nav .nav-link.active {
    color: white;
    font-style: oblique;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: 25px; }
  header a {
    color: white; }
    header a:hover {
      background-color: #f6a6b3;
      transition: background-color 1s; }

/* footer */
footer {
  display: flex;
  background: linear-gradient(to left, #13a2a2 30%, #69e1e1 90%);
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: normal; }
  footer p {
    font-size: 20px;
    margin: 0; }
  footer__picture {
    display: flex;
    justify-content: space-evenly; }
  footer__iconos {
    width: 20px; }

/* VIEWS */
/* main index*/
.index {
  display: grid;
  margin-top: 40px;
  margin-bottom: 40px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  justify-items: center;
  align-items: center;
  height: 473px; }
  .index__p1 {
    font-size: 36px;
    grid-column: 3 / 5;
    grid-row: 1;
    font-family: 'DM Serif Text', serif; }
  .index__p2 {
    font-size: 25px;
    grid-column: 2 / 6;
    grid-row: 2;
    font-style: italic;
    text-align: center; }
  .index__p3 {
    font-size: 25px;
    font-style: italic;
    grid-column: 2 / 6;
    grid-row: 3;
    text-align: center; }
  .index__p4 {
    font-size: 25px;
    grid-column: 3 / 5;
    grid-row: 4;
    font-style: italic;
    text-align: center; }
  .index__img {
    grid-column: 2 / 6;
    grid-row: 5 / 9; }

.container_carrusel {
  width: 70%;
  margin: 0 auto 60px; }

/* main quien soy */
.quiensoy {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0px 15px 0px 15px;
  font-size: 16px; }
  .quiensoy__picture {
    grid-column: 1;
    grid-row: 1 / 7; }
  .quiensoy__img {
    transition: transform .5s; }
  .quiensoy__img:hover {
    transform: scale(1.4); }
  .quiensoy__p, .quiensoy .p1, .quiensoy .p2, .quiensoy .p3, .quiensoy .p4 {
    grid-column: 2 / 5;
    font-family: 'Montserrat', sans-serif; }
  .quiensoy .p1 {
    grid-row: 1; }
  .quiensoy .p2 {
    grid-row: 2; }
  .quiensoy .p3 {
    grid-row: 3;
    text-align: justify; }
  .quiensoy .p4 {
    grid-row: 4 / 6;
    text-align: justify; }
  .quiensoy__a {
    grid-column: 2 / 5;
    grid-row: 6;
    font-family: 'Montserrat', sans-serif;
    animation-iteration-count: 5;
    animation-delay: 2s; }

.p__collapse {
  display: flex;
  justify-content: center; }
  .p__collapse .btn__collapse {
    width: 200px;
    animation-iteration-count: 2;
    animation-delay: 10s; }

.div__collapse {
  display: flex;
  justify-content: center; }

/* main servicios */
.offcanvas__servicios {
  display: grid;
  justify-content: center;
  padding-bottom: 45px; }

.section__servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 130px 40px 400px;
  justify-items: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 16px; }
  .section__servicios .atencionclinica {
    grid-column: 1;
    grid-row: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    margin-bottom: 0%; }
  .section__servicios .servicios__p {
    grid-column: 1;
    grid-row: 2;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0%; }
  .section__servicios .video {
    grid-column: 1;
    grid-row: 4;
    width: 600px; }
  .section__servicios .video__cognitivo {
    width: 100%;
    height: 300px; }
  .section__servicios .atencionclinica__p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-style: oblique; }

.niñosyadolescentes {
  display: grid;
  grid-template-columns: 200px 20px 220px 20px 740px;
  grid-template-rows: 80px 200px 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  background: linear-gradient(rgba(5, 7, 12, 0.15), rgba(5, 7, 12, 0.15));
  border-radius: 10px; }
  .niñosyadolescentes .niñosyadolescentes__h2 {
    grid-column: 1 / 6;
    grid-row: 1;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    text-align: center; }
  .niñosyadolescentes .niñosyadolescentes__img1 {
    grid-column: 1 / 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .niñosyadolescentes .niñosyadolescentes__img2 {
    grid-column: 3 / 4;
    grid-row: 2;
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .niñosyadolescentes .niñosyadolescentes__p {
    grid-column: 5 / 6;
    grid-row: 2;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0%; }

.adultos {
  display: grid;
  grid-template-columns: 120px 220px 120px 740px;
  grid-template-rows: 80px 200px 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  background: linear-gradient(rgba(5, 7, 12, 0.15), rgba(5, 7, 12, 0.15));
  border-radius: 10px;
  margin-bottom: 40px; }
  .adultos .adultos__h2 {
    grid-column: 1 / 5;
    grid-row: 1;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    text-align: center; }
  .adultos .adultos__img {
    grid-column: 2 / 3;
    grid-row: 2;
    width: 100%;
    height: 100%;
    border-radius: 10px; }
  .adultos .adultos__p {
    grid-column: 4 / 5;
    grid-row: 2;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0%; }

.orientacionvocacional {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px 90px 100px 500px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  font-size: 16px;
  background: linear-gradient(rgba(5, 7, 12, 0.15), rgba(5, 7, 12, 0.15));
  border-radius: 10px;
  margin-bottom: 40px; }
  .orientacionvocacional .orientacionvocacional__h2 {
    grid-column: 1 / 3;
    grid-row: 1;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    text-align: center;
    margin-bottom: 0%; }
  .orientacionvocacional .orientacionvocacional__p {
    grid-column: 1 / 3;
    grid-row: 2;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0%; }
  .orientacionvocacional .orientacionvocacional__p2 {
    grid-column: 1 / 3;
    grid-row: 3;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0%; }
  .orientacionvocacional .tarjetas:hover .tarjetasorientacion1 {
    transform: rotateY(180deg); }
  .orientacionvocacional .tarjetas:hover .tarjetasorientacion2 {
    transform: rotateY(180deg); }
  .orientacionvocacional .tarjetasorientacion1 {
    grid-column: 1;
    grid-row: 1;
    width: 600px;
    height: 450px;
    background: linear-gradient(rgba(19, 162, 162, 0.678), rgba(19, 162, 162, 0.15));
    position: relative;
    transform-style: preserve-3d;
    transition: 0.7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65); }
    .orientacionvocacional .tarjetasorientacion1 .adelante {
      width: 100%;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      font-style: oblique;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .orientacionvocacional .tarjetasorientacion1 .atras {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 15px;
      display: flex;
      color: #fff;
      font-family: 'Montserrat', sans-serif; }
  .orientacionvocacional .tarjetasorientacion2 {
    grid-column: 1;
    grid-row: 2;
    width: 600px;
    height: 450px;
    background: linear-gradient(rgba(19, 162, 162, 0.678), rgba(19, 162, 162, 0.15));
    position: relative;
    transform-style: preserve-3d;
    transition: 0.7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65); }
    .orientacionvocacional .tarjetasorientacion2 .adelante {
      width: 100%;
      height: 100%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat', sans-serif;
      font-style: oblique;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .orientacionvocacional .tarjetasorientacion2 .atras {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 15px;
      padding: 15px;
      display: flex;
      color: #fff;
      font-family: 'Montserrat', sans-serif; }

/* Modalidad */
.terapiaonline {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  margin: auto;
  margin-top: 60px;
  font-family: 'Montserrat', sans-serif;
  max-width: 1200px;
  font-size: 16px; }
  .terapiaonline__p1 {
    grid-row: 1; }
  .terapiaonline__h1 {
    grid-row: 2;
    text-align: center;
    font-size: 38px; }
  .terapiaonline__p2 {
    grid-row: 3; }

.li__ventajas {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px; }

.section__terapiapresencial {
  margin-bottom: 60px; }
  .section__terapiapresencial .terapiapresencial {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    margin: auto;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    font-size: 16px; }
    .section__terapiapresencial .terapiapresencial__h1 {
      grid-row: 1;
      text-align: center;
      font-size: 38px; }
    .section__terapiapresencial .terapiapresencial__p1 {
      grid-row: 2; }
    .section__terapiapresencial .terapiapresencial__p2 {
      grid-row: 3; }

/* contacto */
form {
  display: grid;
  grid-template-columns: 370px 300px;
  grid-template-rows: 30px 30px 160px;
  justify-content: center;
  align-content: center;
  min-height: 553px;
  gap: 50px;
  font-family: 'Montserrat', sans-serif; }
  form .Button__Enviar {
    grid-column: 1;
    grid-row: 4; }
  form .Button__Reset {
    grid-column: 2;
    grid-row: 4; }
  form .btn__reset {
    width: 200px; }
  form .btn__enviar {
    width: 200px; }

.mapa {
  margin-bottom: 30px; }

/* MEDIAQUERIES */
/* MEDIA QUERIES HEADER */
@media screen and (max-width: 655px) {
  .navbar-collapse .navbar-nav {
    font-size: 20px; } }

/* MEDIA QUERIES INDEX */
@media screen and (max-width: 1050px) {
  .index {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr); } }

@media screen and (max-width: 900px) {
  .index__p1 {
    font-size: 30px; }
  .index__p2 {
    font-size: 20px; }
  .index__p3 {
    grid-column: 1 / 7;
    font-size: 20px; }
  .index__p4 {
    grid-column: 2 / 6;
    font-size: 20px; } }

@media screen and (max-width: 600px) {
  .index {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr); } }

@media screen and (max-width: 900px) {
  .index__p2 {
    grid-column: 1 / 7; } }

@media screen and (max-width: 425px) {
  .index {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr); } }

/* MEDIA QUERIES QUIEN SOY */
@media screen and (max-width: 760px) {
  .quiensoy {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 80px 110px 100px 100px 300px 60px;
    padding: 0px 30px 0px 30px;
    justify-items: center; }
  .quiensoy .quiensoy__picture {
    grid-column: 1 / 4;
    grid-row: 6 / 7; }
  .quiensoy__picture .quiensoy__img {
    width: 100%;
    height: 300px; }
  .quiensoy .quiensoy__a {
    grid-column: 1 / 4;
    grid-row: 7 / 8; }
  .quiensoy .quiensoy__p, .quiensoy .p1, .quiensoy .p2, .quiensoy .p3, .quiensoy .p4 {
    grid-column: 1 / 4; } }

@media screen and (max-width: 482px) {
  .quiensoy {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 90px 90px 130px 120px 120px 250px 80px;
    font-size: 14px; }
  .quiensoy__picture .quiensoy__img {
    width: 100%;
    height: 230px; }
  .card-body {
    font-size: 0.8rem; } }

@media screen and (max-width: 350px) {
  .quiensoy {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 90px 100px 140px 130px 120px 250px 80px; } }

/* MEDIA QUERIES SERVICIOS */
@media screen and (max-width: 1246px) {
  .niñosyadolescentes {
    grid-template-columns: 200px 20px 220px 20px 450px; }
  .adultos {
    grid-template-columns: 80px 220px 80px 500px; }
  .orientacionvocacional {
    grid-template-rows: 100px 140px 140px 480px;
    grid-template-columns: 400px 400px; }
  .orientacionvocacional .tarjetasorientacion1 {
    width: 400px; }
  .tarjetasorientacion1 .atras {
    font-size: 13px; }
  .orientacionvocacional .tarjetasorientacion2 {
    width: 400px; }
  .atras .atras__p1 {
    font-size: 12px; }
  .atras .atras__p2 {
    font-size: 12px; }
  .atras .atras__p3 {
    font-size: 12px; }
  .atras .atras__p4 {
    font-size: 12px; }
  .atras .atras__p5 {
    font-size: 12px; } }

@media screen and (max-width: 992px) {
  .section__servicios {
    grid-template-rows: 60px 170px 40px 400px; }
  .niñosyadolescentes {
    grid-template-columns: 130px 20px 130px 20px 400px; }
  .niñosyadolescentes .niñosyadolescentes__img1 {
    height: 70%; }
  .niñosyadolescentes .niñosyadolescentes__img2 {
    height: 70%; }
  .adultos {
    grid-template-columns: 40px 220px 40px 400px;
    grid-template-rows: 80px 200px 40px; }
  .orientacionvocacional {
    grid-template-columns: 700px;
    grid-template-rows: 100px 140px 120px 480px 480px; }
    .orientacionvocacional .orientacionvocacional__h2 {
      grid-column: 1;
      grid-row: 1; }
    .orientacionvocacional .orientacionvocacional__p {
      grid-column: 1;
      grid-row: 2; }
    .orientacionvocacional .orientacionvocacional__p2 {
      grid-column: 1;
      grid-row: 3; }
    .orientacionvocacional .tarjetasorientacion1 {
      grid-column: 1;
      grid-row: 4;
      width: 600px;
      height: 450px; }
    .orientacionvocacional .tarjetasorientacion2 {
      grid-column: 1;
      grid-row: 5;
      width: 600px;
      height: 450px; } }

@media screen and (max-width: 767px) {
  .section__servicios {
    grid-template-columns: 500px;
    grid-template-rows: 60px 250px 40px 400px; }
  .section__servicios .video {
    width: 100%; }
  .niñosyadolescentes {
    grid-template-columns: 200px 20px 200px;
    grid-template-rows: 80px 200px 200px; }
  .niñosyadolescentes .niñosyadolescentes__h2 {
    grid-column: 1 / 4;
    grid-row: 1; }
  .niñosyadolescentes .niñosyadolescentes__img1 {
    grid-column: 1 / 2;
    grid-row: 2; }
  .niñosyadolescentes .niñosyadolescentes__img2 {
    grid-column: 3 / 4;
    grid-row: 2; }
  .niñosyadolescentes .niñosyadolescentes__p {
    grid-column: 1 / 4;
    grid-row: 3; }
  .adultos {
    grid-template-columns: 400px;
    grid-template-rows: 80px 150px 150px; }
  .adultos .adultos__h2 {
    grid-column: 1;
    grid-row: 1; }
  .adultos .adultos__img {
    grid-column: 1;
    grid-row: 2;
    width: 70%; }
  .adultos .adultos__p {
    grid-column: 1;
    grid-row: 3; }
  .orientacionvocacional {
    grid-template-columns: 500px;
    grid-template-rows: 120px 200px 200px 480px 480px; }
  .orientacionvocacional .orientacionvocacional__h2 {
    grid-column: 1;
    grid-row: 1; }
  .orientacionvocacional .orientacionvocacional__p {
    grid-column: 1;
    grid-row: 2; }
  .orientacionvocacional .orientacionvocacional__p2 {
    grid-column: 1;
    grid-row: 3; }
  .tarjetas .tarjetasorientacion1 {
    grid-column: 1;
    grid-row: 4;
    width: 500px;
    height: 450px; }
  .tarjetas .tarjetasorientacion2 {
    grid-column: 1;
    grid-row: 5;
    width: 500px;
    height: 450px; } }

@media screen and (max-width: 574px) {
  .section__servicios {
    margin-top: 20px;
    grid-template-columns: 1fr; }
  .niñosyadolescentes {
    max-width: 450px; }
  .adultos {
    max-width: 450px; }
  .orientacionvocacional {
    max-width: 450px;
    grid-template-columns: 420px;
    grid-template-rows: 130px 230px 220px 480px 480px; }
  .tarjetas .tarjetasorientacion1 {
    width: 400px;
    height: 450px; }
  .tarjetas .tarjetasorientacion2 {
    width: 400px;
    height: 450px; } }

@media screen and (max-width: 473px) {
  .section__servicios {
    font-size: 14px; }
  .section__servicios .atencionclinica {
    font-size: 35px; }
  .niñosyadolescentes {
    max-width: 350px;
    grid-template-columns: 150px 10px 150px;
    grid-template-rows: 70px 160px 180px;
    font-size: 14px; }
  .niñosyadolescentes .niñosyadolescentes__h2 {
    font-size: 30px; }
  .adultos {
    max-width: 350px;
    grid-template-columns: 310px;
    grid-template-rows: 80px 150px 150px;
    font-size: 14px; }
  .adultos .adultos__h2 {
    font-size: 30px; }
  .orientacionvocacional {
    max-width: 350px;
    grid-template-columns: 310px;
    grid-template-rows: 80px 280px 200px 600px 600px;
    font-size: 14px; }
  .orientacionvocacional .orientacionvocacional__h2 {
    font-size: 30px; }
  .tarjetas .tarjetasorientacion1 {
    width: 310px;
    height: 550px; }
  .tarjetas .tarjetasorientacion2 {
    width: 310px;
    height: 550px; } }

@media screen and (max-width: 376px) {
  .section__servicios {
    grid-template-rows: 60px 300px 40px 400px;
    font-size: 14px; }
  .section__servicios .atencionclinica {
    font-size: 30px; }
  .niñosyadolescentes {
    max-width: 300px;
    grid-template-columns: 120px 10px 120px;
    grid-template-rows: 70px 160px 250px;
    font-size: 14px; }
  .niñosyadolescentes .niñosyadolescentes__h2 {
    font-size: 28px; }
  .adultos {
    max-width: 300px;
    grid-template-columns: 250px;
    grid-template-rows: 80px 150px 150px; }
  .orientacionvocacional {
    max-width: 300px;
    grid-template-columns: 250px;
    grid-template-rows: 110px 350px 250px 630px 630px; }
  .orientacionvocacional .orientacionvocacional__h2 {
    font-size: 28px; }
  .tarjetas .tarjetasorientacion1 {
    width: 280px;
    height: 610px; }
  .tarjetas .tarjetasorientacion2 {
    width: 280px;
    height: 610px; } }

/* MEDIA QUERIES MODALIDAD */
@media screen and (max-width: 892px) {
  .terapiaonline {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin-top: 30px; }
  .terapiaonline .terapiaonline__p1 {
    grid-row: 1; }
  .terapiaonline .terapiaonline__h1 {
    grid-row: 2;
    text-align: center; }
  .terapiaonline .terapiaonline__p2 {
    grid-row: 3 / 5; }
  .section__terapiapresencial .terapiapresencial {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr); }
  .terapiapresencial .terapiapresencial__p2 {
    grid-row: 3 / 6; } }

@media screen and (max-width: 576px) {
  .terapiaonline {
    padding: 0px 15px 0px 15px; }
  .section__terapiapresencial .terapiapresencial {
    grid-template-rows: repeat(4, 1fr);
    padding: 0px 15px 0px 15px; }
  .terapiapresencial .terapiapresencial__p2 {
    grid-row: 3 / 5; } }

@media screen and (max-width: 500px) {
  .terapiaonline .terapiaonline__h1 {
    font-size: 30px; }
  .terapiapresencial .terapiapresencial__h1 {
    font-size: 30px; } }

@media screen and (max-width: 425px) {
  .terapiaonline {
    display: grid;
    grid-template-rows: 144px 80px 250px; }
  .terapiaonline .terapiaonline__h1 {
    font-size: 25px; }
  .section__terapiapresencial .terapiapresencial {
    grid-template-rows: 80px; }
  .section__terapiapresencial .terapiapresencial__h1 {
    font-size: 25px; } }

/* MEDIA QUERIES CONTACTO */
@media screen and (max-width: 750px) {
  form {
    grid-template-columns: 370px; } }

@media screen and (max-width: 650px) {
  form {
    grid-template-columns: 200px;
    column-gap: 20px; } }

@media screen and (max-width: 425px) {
  form {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px; }
  .Button__Enviar {
    padding-bottom: 10px; }
  .form__nombre {
    height: 35px; }
  .form__edad {
    height: 35px; }
  .form__telefono {
    height: 35px; }
  .form__mail {
    height: 35px; }
  .form__textarea {
    height: 200px;
    padding-top: 15px; }
  .form__botones {
    height: 35px;
    padding-left: 78px; } }

/* MEDIA QUERIES FOOTER */
@media screen and (max-width: 670px) {
  footer p {
    font-size: 15px; } }

@media screen and (max-width: 490px) {
  footer p {
    font-size: 12px; } }

@media screen and (max-width: 400px) {
  footer {
    flex-direction: column; } }
