/* footer */

footer {
    @include flex(linear-gradient(to left,rgb(19, 162, 162) 30%, rgb(105, 225, 225) 90%), normal);

    p {
        font-size: 20px;
        margin: 0;
    }
    
    &__picture {
        display: flex;
        justify-content: space-evenly;
    }

    &__iconos {
        width: 20px;
    }
}