/* footer */

footer {
    display: flex;
    justify-content: space-around;
    background:linear-gradient(to left,rgb(19, 162, 162) 30%, rgb(105, 225, 225) 90%);
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: normal;

    p {
        font-size: 20px;
        margin: 0;
    }
    
    &__picture {
        display: flex;
        justify-content: space-evenly;
    }

    &__iconos {
        width: 20px;
    }
}