/* header */

header {
    display: flex;
    @include flex(linear-gradient(to right,rgb(19, 162, 162) 30%, rgb(105, 225, 225) 90%), sans-serif);
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;

    &__img {
        max-width: 280px;
    }

    .navbar-nav {
        --bs-nav-link-color: white;
        font-style: oblique;
        font-weight: bold;
        font-family: 'Times New Roman';
        font-size: 25px;
    }

    .navbar-nav .nav-link.active {
        color: white;
        font-style: oblique;
        font-weight: bold;
        font-family: 'Times New Roman';
        font-size: 25px;
    }
    
        a {
            color: white;
            &:hover {
                background-color: rgb(246, 166, 179);
                transition: background-color 1s;
            }
        }
}