/* contacto */

form {
    display: grid;
    grid-template-columns: 370px 300px;
    grid-template-rows: 30px 30px 160px;
    justify-content: center;
    align-content: center;
    min-height: 553px;
    gap: 50px;
    font-family: 'Montserrat', sans-serif;

    .Button__Enviar {
        grid-column: 1;
        grid-row: 4;
    }
    
    .Button__Reset {
        grid-column: 2;
        grid-row: 4;
    }
    
    .btn__reset {
        width: 200px;
    }
    
    .btn__enviar {
        width: 200px;
    }
}

.mapa {
    margin-bottom: 30px;
}