/* main quien soy */

.grid__quiensoy {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0px 15px 0px 15px;
    font-size: 16px;

    .img__quiensoy {
        grid-column: 1;
        grid-row: 1 / 7;
        transition: transform .5s;
    }

    .img__quiensoy:hover {
        transform: scale(1.4);
    }

    .p__quiensoy {
        grid-column: 2 / 5;
        font-family: 'Montserrat', sans-serif;
    }

    .p1 {
        @extend .p__quiensoy;
        grid-row: 1;
    }

    .p2 {
        @extend .p__quiensoy;
        grid-row: 2;
    }

    .p3 {
        @extend .p__quiensoy;
        grid-row: 3;
        text-align: justify;
    }

    .p4 {
        @extend .p__quiensoy;
        grid-row: 4 / 6;
        text-align: justify;
    }

    .a__quiensoy {
        grid-column: 2 / 5;
        grid-row: 6;
        font-family: 'Montserrat', sans-serif;
        animation-iteration-count: 5;
        animation-delay: 2s;
    }
}