<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeciliaMedicina</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="header__logo">
            <img class="header__img" src="../img/LogoMakr-0HHo2e.png" alt="imagen de logo">    
        </picture>
        <nav class="menu">
            <ul class="menu__lista">
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="./quiensoy.html">Quien soy</a>
                </li>
                <li>
                    <a href="./servicios.html">Servicios</a>
                </li>
                <li>
                    <a href="./modalidad.html">Modalidad</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="" method="post" enctype="text/plain">
            <div class="form__nombre">
                <label for="usuario">Nombre y Apellido</label>
                <input type="text" name="usuario">
            </div>
            <div class="form__edad">
                <label for="Edad">Edad</label>
                <input type="number" name="Edad">
            </div>
            <div class="form__telefono">
                <label for="Telefono">Numero de Telefono</label>
                <input type="tel" name="Telefono">   
            </div>
            <div class="form__email>
                <label for="email">Email</label>
                <input type="email" name="email">
            </div>
            <div class="form__textarea">
                <label for="Motivo de Consulta">Motivo de Consulta</label>
                <textarea name="Motivo de Consulta" id="" cols="30" rows="10"></textarea>            
            </div>
            <div class="form__botones">
                <button type="reset">BORRAR TODO</button>
                <button type="submit">ENVIAR</button>            
            </div>
        </form>
    </main>
    <footer>
        <div>
            <p>Texto Copyrigth</p>
        </div>
        <div>
            <p>Numero de contacto: 0351 - 155574254</p>
        </div>
        <div>
            <p>Seguime en redes</p>
            <div class="footer__picture">
                <picture>
                    <img class="iconos__footer" src="../img/Facebook.png" alt="icono de Facebook">
                </picture>
                <picture>
                    <img class="iconos__footer" src="../img/instagram 2.png" alt="icono de instagram">
                </picture>               
            </div>
        </div>
    </footer>
</body>
</html>