<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeciliaMedicina</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="header__logo">
            <img class="header__img" src="../img/LogoMakr-0HHo2e.png" alt="imagen de logo">    
        </picture>
        <nav class="menu">
            <ul class="menu__lista">
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="./quiensoy.html">Quien soy</a>
                </li>
                <li>
                    <a href="./servicios.html">Servicios</a>
                </li>
                <li>
                    <a href="./modalidad.html">Modalidad</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="grid__quiensoy">
            <img class="img__quiensoy" src="../img/Foto Ceci.png" alt="foto psicologa Cecilia Medicina" width="70%">
            <p class="p__quiensoy1">Me llamo Cecilia Medicina, me gradué en el año 2014 en la Universidad Nacional de Córdoba, Facultad de psicología.</p>
            <p class="p__quiensoy2">Mi formación complementaria es amplia, comienza con anterioridad a mi ejercicio profesional y se sigue desarrollando hasta la actualidad. </p>
            <p class="p__quiensoy3">En 2008 me formé como acompañante terapéutica, luego realicé diversos estudios y postgrados en terapia infantojuvenil, Terapia cognitivo conductual, Orientación Vocacional y Ocupacional, Hipnosis Ericksoniana, etc.</p>
            <p class="p__quiensoy4">Mi desempeño profesional se realizó tanto en el ámbito público (atención clínica en dispensario municipal, oficina de niñez, dolencia y familia, grupo interdisplinario para pacientes con diabetes, adscripción en cátedra de orientación Vocacional y Ocupacional UNC, etc) y atención en consultorios/ centros privados, realizando clínica psicológica y procesos de Orientación vocacional-Ocupacional de manera individual y grupal.</p>
            <a class="a__quiensoy" href="../doc/Cecilia Evelin Medicina.pdf">Conocer más...</a>
        </section>
    </main>
    <footer>
        <div>
            <p>Texto Copyrigth</p>
        </div>
        <div>
            <p>Numero de contacto: 0351 - 155574254</p>
        </div>
        <div>
            <p>Seguime en redes</p>
            <div class="footer__picture">
                <picture>
                    <img class="iconos__footer" src="../img/Facebook.png" alt="icono de Facebook">
                </picture>
                <picture>
                    <img class="iconos__footer" src="../img/instagram 2.png" alt="icono de instagram">
                </picture>               
            </div>
        </div>
    </footer>
</body>
</html>