<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CeciliaMedicina</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="header__logo">
            <img class="header__img" src="../img/LogoMakr-0HHo2e.png" alt="imagen de logo">    
        </picture>
        <nav class="menu">
            <ul class="menu__lista">
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="./quiensoy.html">Quien soy</a>
                </li>
                <li>
                    <a href="./servicios.html">Servicios</a>
                </li>
                <li>
                    <a href="./modalidad.html">Modalidad</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="grid__servicios">
            <p class="p__servicios">Cada paciente es único y la terapia se ira adaptando a las necesidades particulares del consultante.
                Mi rol será activo y dinámico dentro de los encuentros que mantengamos. 
                Mi eje de intervención se centra en la terapia cognitivo conductual (basado en evidencia), con una dinámica participativa y enfocada en objetivos.
                
                Aprenderemos a adquirir nuevas herramientas para que puedas superarte y logres generar estrategias que tiendan a desarrollar tu bienestar emocional en los diferentes ámbitos de tu vida.
                
                Se trata de promover la salud integral tomando en cuenta las áreas bio – psico - social y los ámbitos donde se desarrollan.
            </p>
            <h1 class="atencionclinica">Atención Clínica</h1>
            <p class="p__atencionclinica">Las sesiones tienen una duración estipulada de 45min a 1 hora de duración (aprox). Las mismas se desarrollan en una primera instancia, en su mayoría, con una frecuencia semanal, la cual puede variar según diversas circunstancias.</p>
            <h2 class="niñosyadolescentes">Niños y Adolescentes</h2>
            <img class="img__niño" src="../img/Niño en terapia.jpg" alt="foto de terapeuta en sesion con niño">
            <img class="img__adolescente" src="../img/Adolescente terapia.jpg" alt="foto de terapeuta en sesion con adolescente">
            <p class="p__niñosyadolescentes">Según la edad del paciente se trabaja de forma conjunta con los padres y conforme aumente su edad se pretenderá una terapia más independiente, centrada en las necesidades y problemáticas particulares del mismo que puedan generarle malestar.
               Las técnicas empleadas en su mayoría son de carácter lúdico, según etapa evolutiva e intereses.
            </p>
            <h2 class="adultos">Adultos</h2>
            <img class="img__adultos" src="../img/Adulto en terapia.jpg" alt="foto de terapeuta en sesion con adulto">
            <p class="p__adultos">Se pretende realizar un autoconocimiento guiado, que le permita adquirir herramientas para aceptar sus problemáticas vitales y resolver los objetivos terapéuticos planteados.</p>
        </section>
    </main>
    <footer>
        <div>
            <p>Texto Copyrigth</p>
        </div>
        <div>
            <p>Numero de contacto: 0351 - 155574254</p>
        </div>
        <div>
            <p>Seguime en redes</p>
            <div class="footer__picture">
                <picture>
                    <img class="iconos__footer" src="../img/Facebook.png" alt="icono de Facebook">
                </picture>
                <picture>
                    <img class="iconos__footer" src="../img/instagram 2.png" alt="icono de instagram">
                </picture>               
            </div>
        </div>
    </footer>
</body>
</html>